main{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

main > *{
    padding: 1rem;
}

main section h1{
    font-size: 3rem;
}

main section > *{
    margin-bottom: 1rem;
}

main aside img{
    border-radius: .5rem;
}