*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/* hacer que el footer se vea abajo */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
.navbar{
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.navbar h4{
    padding: 1rem 0;
}

/* menu */
.navbar nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav ul{
    padding: 0 1rem;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar nav ul li{
    position: relative;
    padding: .5rem;
}

.navbar nav ul li:hover > ul{
    display: block;
}

.navbar nav ul li ul{
    position: absolute;
    width: max-content;
    display: none;
    padding: .5rem;
    background-color: #ebebeb;
}

.navbar nav a{
    text-align: center;
    color: #000;
    font-weight: bold;
}

nav a:hover{
    color: #ce6d11;
    text-decoration: underline;
}

/* active */
nav a.active{
    color: #ce6d11 !important;
}

/* main */
main{
    flex-grow: 1;
}
main > h1{
    text-align: center;
    font-weight: 300 !important;
}

/* footer */
body > footer{
    text-align: center;
    margin-top: auto;
    background-color: #161616;
    color: #fff;
}

body > footer h4{
    font-size: 2rem;
    font-weight: normal;
}

body > footer p{
    margin: 0;
}

body > footer nav{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px;
}

body > footer nav div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

body > footer a{
    color: #fff;
}

/* generales */
.img-flex{
    width: 100%;
}

.t-bold{
    font-weight: bold;
}

.button{
    display: block;
    width: fit-content;
    font-weight: bold;
    background-color: #ce6d11;
    color: #000;
    padding: 10px 1rem;
    border-radius: 5px;
}

.button:hover{
    color: #fff;
    background-color: #5e3712;
}