<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoprime - Vehiculos</title>
    <link rel="shortcut icon" href="/favicon.jpeg" type="image/x-jpeg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vehiculos.css">
</head>
<body>
    <header class="navbar">
        <h4>Autoprime</h4>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Servicios</a>
                    <ul>
                        <li><a href="/view/servicios/">Solicitar servicio</li>
                        <li><a href="/view/servicios/info/">Información</li>
                    </ul>
                </li>
                <li><a class="active"href="/view/vehiculos/">Vehiculos</a></li>
                <li><a href="/view/contacto/">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="item-1">Chevrolet Captiva XL</h1>

        <aside class="item-2">
            <img src="/img/chevrole.webp" alt="">
            <img src="/img/chevrole.webp" alt="">
            <img src="/img/chevrole.webp" alt="">
            <img src="/img/chevrole.webp" alt="">
            <img src="/img/chevrole.webp" alt="">
        </aside>

        <section class="item-3">
            <img class="img-flex" src="/img/chevrole.webp" alt="">
        </section>

        <article class="item-4">
            <header>Otras verciones de este vehiculo</header>
            <section>
                <a href="#">Vehiculo a</a>
                <a href="#">Vehiculo a</a>
                <a href="#">Vehiculo a</a>
                <a href="#">Vehiculo a</a>
            </section>

            <div>
                <p>Precio: $ 1.000.000</p>
                <p>Precio: BS 66.000.000.000</p>
                <br>
                <button class="btn-comprar">Comprar</button>
            </div>
        </article>

        <section class="item-5">
            <h2>Descripcion del vehiculo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rerum ipsa omnis corporis incidunt quam magni quibusdam error labore tempore itaque qui sequi veritatis atque deserunt, laboriosam molestiae. Delectus, ipsa!</p>
        </section>
    </main>

    <footer>
        <h4>Autoprime </h4>
        <p>Ubicados en el: dfsdfsfsdfwe</p>
        <nav>
            <p>Todos los derechos reservados</p>
            <div>
                <a href="/">Inicio</a>
                <a href="/view/servicios/">Servicios</a>
                <a class="active" href="/view/vehiculos/">Vehiculos</a>
                <a href="/view/contacto/">Contacto</a>
            </div>
        </nav>
    </footer>
</body>
</html>