<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoprime</title>
    <link rel="shortcut icon" href="/favicon.jpeg" type="image/x-jpeg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <header class="navbar">
        <h4>Autoprime</h4>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Servicios</a>
                    <ul>
                        <li><a href="/view/servicios/">Solicitar servicio</li>
                        <li><a href="/view/servicios/info/">Información</li>
                    </ul>
                </li>
                <li><a href="/view/vehiculos/">Vehiculos</a></li>
                <li><a class="active"href="/view/contacto/">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contacta con nosotros</h1>

        <section class="contact-form-container">
            <form class="contact-form">
                <label>Nombre*<br>
                    <input type="text" name="name">
                </label>

                <label>Email*<br>
                    <input type="email" name="email">
                </label>

                <label>Mensaje*<br>
                    <textarea name="message" rows="10"></textarea>
                </label>

                <button type="submit">Enviar</button>
            </form>

            <aside>
                <article>
                    <h4>Contacto: 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </article>

                <article>
                    <h4>Contacto: 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </article>

                <article>
                    <h4>Contacto: 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </article>
            </aside>
        </section>
        
    </main>

    <footer>
        <h4>Autoprime </h4>
        <p>Ubicados en el: *******</p>
        <nav>
            <p>Todos los derechos reservados</p>
            <div>
                <a href="/">Inicio</a>
                <a href="/view/servicios/">Servicios</a>
                <a href="/view/vehiculos/">Vehiculos</a>
                <a class="active" href="/view/contacto/">Contacto</a>
            </div>
        </nav>
    </footer>
</body>
</html>